# Python virtual environments
# Ignores any folder named 'venv' or '.venv' in any subdirectory
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


# Common IDE/editor configuration folders
.idea/
.vscode/