# Byte-compiled & optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual Environments
venv/
.venv/
env/
.env

# IDE configuration folders
.vscode/
.idea/

# Generated output folder
output/

#Refernece Folders
Collection 1/
Collection 2/
Collection 3/

input/ 

# OS-specific files
.DS_Store
Thumbs.db

# # Local helper scripts
# download_assets.py
# summarizer_1b.py